
# Entorno virtual
venv/
.venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Configuración local
.env

# Base de datos generada localmente
database/*.db
database/*.sqlite
database/*.sqlite3

# Registros locales
logs/*.log

# Archivos del editor
.vscode/
